$breakpointWidth: 768px;

.ip-content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    padding: 0 1.75rem;
    z-index: 1001;  // leaflet's map has z-index of 1000, so set this to 1001 to make it appear on top!

    h2 {
        margin: 1.75rem 0;
        color: var(--white);
        font-weight: 500;
        @media only screen and (min-width: calc(#{$breakpointWidth} + 3rem)) {
            font-size: 2rem;
        }
    }
}