$breakpointWidth: 768px;

.map-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    & > * {
        width: 100%;
    }

    .background {
        height: 300px;
        @media only screen and (min-width: calc(#{$breakpointWidth} + 3rem)) {
            height: 280px;
        }
    }

    #map {
        position: relative;
        box-sizing: border-box;
        flex-grow: 1;
        max-width: 100%;
        height: calc(100vh - 300px);
        @media only screen and (min-width: calc(#{$breakpointWidth} + 3rem)) {
            height: calc(100vh - 280px);   
        }
        overflow: hidden;
        background-color: var(--dark-gray);
    }
}