$borderRadius: .9rem;
$breakpointWidth: 768px;
$smallBreakpointWidth: 375px;

.ip-content-input-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 550px;

    & > * {
        display: flex;
        align-items: center;
        justify-content: center;

        height: 55px;
        padding: .8rem 1.25rem;
        border: none;
        cursor: pointer;
    }
    
    input {
        flex-grow: 1;
        border-bottom-left-radius: #{$borderRadius};
        border-top-left-radius: #{$borderRadius};
        color: var(--very-dark-gray);
        font-family: 'Rubik';
        font-size: var(--font-size);
        font-weight: 400;
        
        &::placeholder {
            color: var(--dark-gray);
        }
    }
    
    button {
        min-width: 60px;
        border-top-right-radius: #{$borderRadius};
        border-bottom-right-radius: #{$borderRadius};
        background-color: var(--very-dark-gray);
        outline: none;

        &:active {
            background-color: var(--very-dark-gray-active);
        }
    }
}